.Rproj.user
.Rhistory
.RData
.Ruserdata
DOWNSTREAM_BKP/DIFFEXP/.RDataTmp
DOWNSTREAM_BKP/DIFFEXP/.RDataTmp1
.RDataTmp
DOWNSTREAM/.DS_Store
RAW_TUTORIAL_BKP/.DS_Store
DOWNSTREAM/.DS_Store
.Rsubread_flattenGTF_pid607
DOWNSTREAM/.DS_Store
.DS_Store
