.Rproj.user
.Rhistory
.RData
.Ruserdata
DOWNSTREAM_BKP/DIFFEXP/.RDataTmp
DOWNSTREAM_BKP/DIFFEXP/.RDataTmp1
.RDataTmp
DOWNSTREAM/.DS_Store
RAW_TUTORIAL_BKP/.DS_Store
DOWNSTREAM/.DS_Store
.Rsubread_flattenGTF_pid607
DOWNSTREAM/.DS_Store
.DS_Store
marmap_coord_-118;20;-100;33_res_4.csv
Rplot.png
Rplot02.png
